.form
  .container
    .head
      .head__item
        = link_to :back do
          %span.arrow-left
      .head__item
        %h2.head__title
          Edit
      -# 以下空タグ
      .head__item
    %ul
      - @profile.errors.full_messages.each do |message|
        %li= message
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      .field.form__item
        = f.label :name,class: 'form__item-name'
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "account", class: 'form__input'
      .field.form__item
        .form__file-btn
          %p avatar
          = f.file_field :avatar
        %br/
      .form__btn
        = f.submit "update", class: 'form__btn-text'