-# 下記１行js用
.post#post-show{data: {post_id: @post.id}}
 
.container.form
  .head
    .head__item
      = link_to :back do
        %span.arrow-left
    .head__item
      %h2.head__title
        Comment
    .head__item.head__item--right
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message

  .comment
  -# この中にjsでコメント追加される

  .comment__textarea-container
    = text_area_tag :comment_content, '', class: 'form__textarea'
    = image_tag 'comment.png', class: 'comment__btn js-add-comment-btn'


= javascript_pack_tag 'comment'