.container.container--mt
  .head
    .head__item
      = link_to :back do
        %span.arrow-left
    .head__item
      %p.profile__name
        = user.profile&.name
      %p.profile__account
        = user.account
    .head__item.head__item--right
      - if user == current_user
        = link_to 'Logout', destroy_user_session_path
      - else
        - if current_user&.has_followed?(user)
          = link_to 'Unfollow', account_unfollows_path(user), data: {method: 'post'}
        - else
          = link_to 'Follow', account_follows_path(user), data: {method: 'post'}
  .profile__my-image-container
    = image_tag user.avatar_image, class: 'profile__my-image'
    - if user == current_user
      %div
        = link_to 'edit?', edit_profile_path, class: 'profile__link'
  .profile__parameter-container
    .profile__parameter
      .profile__parameter-number
        = user.posts.count
      %p.profile__parameter-name Posts
    = link_to account_followers_path(user) do
      .profile__parameter
        .profile__parameter-number.profile__parameter-number--black
          = user.follower_relationships.count
        %p.profile__parameter-name Followers
    = link_to account_followings_path(user) do
      .profile__parameter
        .profile__parameter-number.profile__parameter-number--black
          = user.following_relationships.count
        %p.profile__parameter-name Following

  .profile__post-container
    - posts.each do |post|
      = link_to post_path(post) do
        = image_tag post.eyecatches[0], class: 'profile__post'

    -# = image_tag 'post-1.png' , class: 'profile__post'
    -# = image_tag 'post-2.png' , class: 'profile__post'
    -# = image_tag 'post-3.png' , class: 'profile__post'
    -# = image_tag 'post-1.png' , class: 'profile__post'
    -# = image_tag 'post-2.png' , class: 'profile__post'
    -# = image_tag 'post-3.png' , class: 'profile__post'




