.container.form
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @post, url: posts_path,local: true) do |f|
    .head
      .head__item
        = link_to 'Cance', posts_path, class: 'head__link head__link--blue'
      .head__item
        %h2.head__title
          Status
      .head__item.head__item--right
        = f.submit "post", class: 'head__link'
    
    .form__profile
      .form__profile-avater
        = image_tag current_user.avatar_image
      .form__profile-account
        = current_user.profile.name

    -# 以下入力欄
    .field.form__item
      = f.text_field :title, autocomplete: "account", :placeholder => "What's on your mind ?", class: 'form__input form__placeholder'
    .field.form__item
      .form__file-btn
        %p + Alubum
        = f.file_field :eyecatches, multiple: true
